# --- Package Files ---
node_modules/

# --- VS Code Project Settings ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# --- Runtime & Logs ---
*.log
.env

# --- Archive & Export Files ---
archive/
*.zip

# --- System Files ---
.DS_Store
Thumbs.db
